<div class="jumbotron">
  <center>
  <div class="container">
  <h1 class="titulos">Antonio Cabrera Cano</h1>
  <h2 class="titulos">Ingeniería Tic´s</h2>

</div>
  </center>
</div>

<div class="container">
<div class="row">

  <div class="col-md-4">
    <div class="page-header">
  <h2 style="display:inline">Example page Header</h2>
  <span class="label label-success">New</span>
</div>

    <p class="titulos">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


    <hr>
    <img src="https://cdn.pixabay.com/photo/2015/08/06/10/18/vw-877620_960_720.png" class="img-responsive">
  </div>

  <div class="col-md-4">
    <div class="page-header">
  <h2>Example page header </h2>
</div>
    <h2>Subtitulos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <hr>
    <img src="http://3.bp.blogspot.com/-Cy6_5XGhNSI/UOt_himHRnI/AAAAAAAAHAk/tiXOdswVEKo/s1600/Coche-Volkswagen_Scirocco-blanco.png" class="img-responsive">

  </div>



    <div class="col-md-4">
      <div class="page-header">
    <h2>Example page header </h2>
  </div>
      <h3> Sub subtitulos</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic distinctio quisquam praesentium id illo minima, laborum, tempora autem neque blanditiis sunt ad eum eveniet, mollitia animi reiciendis error doloremque vel.</p>

    <h6>sub ... subtitulo</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


    <a href="http://en1mes.com">

    </a>

    <hr>
    <br>
      <img src="https://2.bp.blogspot.com/-_dUcsj9suD8/VsDbzT7kfeI/AAAAAAAAksg/BqK-PUOJSV8/s1600/caribe8.png" class="img-responsive">
    <ol>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ol>
  </div>

  </div>

</div>
</div>
